      <h1 class="banner-title">
        Tech Blog Login
      </h1>
    </header>
    <main>


<div class="form-container">
  <form class="form" id="login-form">
    <p><label for="name">Name:</label></p>
    <input class="form-input" type="text" id="userName-login" />
    <p><label for="password">Password:</label></p>
    <input class="form-input" type="password" id="password-login" />
    <p><button class="btn btn-primary" type="submit">Login</button></p>
    <a href="./login/new-user">Sign-up Instead</a>
  </form>
</div>

<script src="/js/login.js"></script>