<div class="form-container">
  <form class="form" id="new-post-form">
    <p><label for="title">Title:</label></p>
    <input class="form-input" type="text" id="post-title" />
    <p><label for="text">Content:</label></p>
    <textarea id="post-text"></textarea>
    <p><button class="btn btn-primary" type="submit">Submit</button></p>
  </form>
</div>

<script src="/js/newpost.js"></script>