      <h1 class="banner-title">
        Tech Blog Signup
      </h1>
    </header>
    <main>



<div class="form-container">
  <form class="form new-user-form" id="signup-form">
    <div class="form-group">
      <label for="name">Name:</label>
      <p><input class="form-input" type="text" id="userName-signup" /></p>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <p><input class="form-input" type="password" id="password-signup" /></p>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Sign Up</button>
    </div>
    <a href="../login">Login Instead</a>
  </form>
</div>

<script src="/js/login.js"></script>