:root {
  --dark-color: rgb(39, 20, 2);
  --light-color: oldlace;
}

* {
  margin: 0;
  padding: 0;
}

.banner {
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 0px 0px 15px 50px;
}

nav {
  padding: 10px 0px 10px 0px;
}

nav a {
  color: var(--light-color);
  padding-right: 25px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.banner-title {
  display: inline-block;
  background-color: var(--light-color);
  color: var(--dark-color);
  padding: 5px 10px;
  margin: 5px 0px;
  border-radius: 10px;
  box-shadow: 5px 5px grey;
}

main {
  background-color: var(--light-color);
  color: var(--dark-color);
  padding: 14px 25px;
  border: 2px solid var(--dark-color);
}

.card {
  border: 2px solid var(--dark-color);
  margin: 15px 0px;
}

.card-link {
  text-decoration: none;
}

.card-title {
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
}

.card-body {
  padding: 10px;
  color: var(--dark-color);
}

.form-container {
  display: flex;
  text-align: center;
}

.form-container h2 {
  margin-bottom: 10px;
  text-align: center;
}

.form-container input {
  margin-bottom: 10px;
}

.form-container button {
  padding: 0px 5px;
}

button {
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
}

button:disabled {
  opacity: 0.3;
}

#new-post-form,
#new-comment-area,
#update-post-text {
  width: 400px;
}

#post-title,
#post-text {
  width: 100%;
}

#post-text,
#new-comment-area,
#update-post-text {
  height: 100px;
  margin-bottom: 20px;
}
